.gnb {
	width: 100%;
	height: 52px;
	padding: 0 28px;
	border-bottom: 1px solid #EEE;
	display: flex;
	justify-content: space-between;
	align-items:center;
	background: #fff;
	font-family: "Noto Sans KR", sans-serif;
	color: #707070;
}

.gnb-left {
	align-items: center;
	box-sizing: border-box;
	display: flex;
}

.tab_right {
	display:flex;
	align-items: center;
}

li, a {
	float: left;
	position: relative;
	margin: 0 12px;
}

.tab_center {
	display: flex;
	flex-wrap: nowrap;
	font-size: 14px;
	margin: 0 24px;
	white-space: nowrap;
	color: #999999;
}
.logo{
	width: 128px;
}